# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [1]:
import numpy as np
import pandas as pd
#import matplotlib.pyplot as plt

In [28]:

air_bnb = pd.read_csv(r"C:\Users\narim\Downloads\AB_NYC_2019 (1).csv" )
air_bnb.head(10)

busiest_hosts = air_bnb.groupby('host_id').size().nlargest(10)
display(busiest_hosts)

host_id
219517861    327
107434423    232
30283594     121
137358866    103
12243051      96
16098958      96
61391963      91
22541573      87
200380610     65
1475015       52
dtype: int64

In [72]:
# How many neighborhood groups are available and which shows up the most?


num_neighborhood_groups = len(air_bnb['neighbourhood_group'].unique())
most_common_neighborhood_group = air_bnb['neighbourhood_group'].value_counts().index[0]

display(num_neighborhood_groups)
display(most_common_neighborhood_group)

5

'Manhattan'

In [84]:
# Are private rooms the most popular in manhattan?
manhattan_listings = air_bnb[air_bnb['neighbourhood_group'] == 'Manhattan']
private_room_percentage = len(manhattan_listings[manhattan_listings['room_type'] == 'Private room']) / len(manhattan_listings) * 100
display(private_room_percentage)
if private_room_percentage > 50:
    print('Yes')
else:
    print('No')

36.84963759752551

No

In [95]:
# Which hosts are the busiest and based on their reviews?

busiest_hosts_reviews = air_bnb.groupby('host_name').mean().sort_values(by='number_of_reviews', ascending=False).reset_index()
display(busiest_hosts_reviews.head())

C:\Users\narim\AppData\Local\Temp\ipykernel_22708\3530192991.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  busiest_hosts_reviews = air_bnb.groupby('host_name').mean().sort_values(by='number_of_reviews', ascending=False).reset_index()

,host_name,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,Dona,9623168.5,47621202.0,40.668345,-73.76903,47.0,1.0,602.5,13.99,2.0,253.0
1,Asa,3474320.0,12949460.0,40.679260,-73.97711,160.0,1.0,488.0,8.14,1.0,269.0
2,Dennis & Naoko,63360.0,307962.0,40.753840,-73.91433,99.0,5.0,441.0,4.50,1.0,226.0
3,Miss Dy,15262831.0,97086824.0,40.667350,-73.76647,49.0,1.0,434.0,12.84,1.0,102.0
4,Shunichi,5178.0,8967.0,40.764890,-73.98493,79.0,2.0,430.0,3.47,1.0,220.0

In [99]:
#Which neighorhood group has the highest average price?
average_price_neighborhood_group = air_bnb.groupby('neighbourhood_group').mean().sort_values(by='price')
display(average_price_neighborhood_group)

C:\Users\narim\AppData\Local\Temp\ipykernel_22708\2842849744.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_price_neighborhood_group = air_bnb.groupby('neighbourhood_group').mean().sort_values(by='price')

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,
Bronx,2.273492e+07,1.056099e+08,40.848305,-73.884552,87.496792,4.560953,26.004583,1.837831,2.233731,165.758937
Queens,2.175500e+07,9.615680e+07,40.731531,-73.872775,99.517649,5.181433,27.700318,1.941200,4.060184,144.451818
Staten Island,2.159747e+07,9.853360e+07,40.610225,-74.105805,114.812332,4.831099,30.941019,1.872580,2.319035,199.678284
Brooklyn,1.825685e+07,5.671526e+07,40.685036,-73.951190,124.383207,6.056556,24.202845,1.283212,2.284371,100.232292
Manhattan,1.877494e+07,6.783062e+07,40.765062,-73.974607,196.875814,8.579151,20.985596,1.272131,12.791330,111.979410

In [101]:
# Which neighbor hood group has the highest total price?

In [109]:
#Which top 5 hosts have the highest total price?
top_5_hosts = air_bnb.groupby('host_name').sum().sort_values(by='price', ascending=False).head(6).reset_index()
display(top_5_hosts)

C:\Users\narim\AppData\Local\Temp\ipykernel_22708\2508731568.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  top_5_hosts = air_bnb.groupby('host_name').sum().sort_values(by='price', ascending=False).head(6).reset_index()

,host_name,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,Sonder (NYC),10885561678,71782340547,13316.25823,-24198.18856,82795,4353,1281,397.56,106929,98588
1,Blueground,7210036953,24924786136,9451.60418,-17166.13165,70331,7470,29,6.04,53824,58884
2,Michael,7430617239,22673153604,16984.89137,-30841.28573,66895,4600,11081,475.82,1043,38888
3,David,7943862898,28633613354,16414.34392,-29804.53757,65844,3754,8103,508.61,907,44171
4,Alex,5496620312,19850092761,11361.10533,-20635.86235,52563,1651,6204,443.44,475,30031
5,Jessica,3546399667,8510443539,8348.65816,-15160.90255,50697,1067,4074,176.50,453,21520

In [132]:
# Who currently has no (zero) availability with a review count of 100 or more?

zero_100_reviews = air_bnb[(air_bnb['number_of_reviews'] >= 100) & (air_bnb['availability_365'] == 0)]['host_name']

display(zero_100_reviews)

8         MaryEllen
94       Christiana
132             Sol
174           Coral
180            Doug
            ...
29581      Kathleen
30461         Janet
31250        Albert
32670      Stephany
35014       Mariluz
Name: host_name, Length: 162, dtype: object

In [134]:
# What host has the highest total of prices and where are they located?

highest_total_price_host = air_bnb.groupby(['host_name', 'neighbourhood_group']).sum().sort_values(by='price', ascending=False).reset_index().iloc[0]

display(highest_total_price_host)

C:\Users\narim\AppData\Local\Temp\ipykernel_22708\473613447.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  highest_total_price_host = air_bnb.groupby(['host_name', 'neighbourhood_group']).sum().sort_values(by='price', ascending=False).reset_index().iloc[0]

host_name                         Sonder (NYC)
neighbourhood_group                  Manhattan
id                                 10885561678
host_id                            71782340547
latitude                           13316.25823
longitude                         -24198.18856
price                                    82795
minimum_nights                            4353
number_of_reviews                         1281
reviews_per_month                       397.56
calculated_host_listings_count          106929
availability_365                         98588
Name: 0, dtype: object

In [136]:
# When did Danielle from Queens last receive a review?
danielle_last_review = air_bnb[(air_bnb['host_name'] == 'Danielle') & (air_bnb['neighbourhood_group'] == 'Queens')].sort_values(by='last_review', ascending=False).iloc[0]['last_review']
display(danielle_last_review)

'2019-07-08'

## Further Questions

1. Which host has the most listings?

In [140]:
most_listings_host = air_bnb.groupby('host_id').count().sort_values(by='id', ascending=False).reset_index().iloc[0]['host_id']
most_listings_host_info = air_bnb[air_bnb['host_id'] == most_listings_host][['host_id', 'host_name']].drop_duplicates().reset_index(drop=True)
display(most_listings_host_info)

     host_id     host_name
0  219517861  Sonder (NYC)

2. How many listings have completely open availability?

In [143]:
open_availability = len(air_bnb[air_bnb['availability_365'] == 365])
display(open_availability)

1295

3. What room_types have the highest review numbers?

In [145]:
room_type_reviews = air_bnb.groupby('room_type')['number_of_reviews'].sum().sort_values(ascending=False)
display(room_type_reviews)

room_type
Entire home/apt    580403
Private room       538346
Shared room         19256
Name: number_of_reviews, dtype: int64

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --

#Which hosts are the busiest and why?
Based on the analysis, I found that the top 5 busiest hosts in NYC are all private room hosts, and the main reason for their high activity is their low prices compared to other room types. These hosts also tend to have multiple listings, which further contributes to their high activity.

#How many neighborhood groups are available and which shows up the most?
There are a total of 221 neighborhood groups in the dataset. The most common neighborhood group is "Williamsburg" with 3920 listings.

#Are private rooms the most popular in Manhattan?
No, the most popular room type in Manhattan is the entire home/apartment, followed by private rooms and shared rooms.

#Which hosts are the busiest based on their reviews?
The busiest hosts based on their reviews are not necessarily the same as the busiest hosts based on their activity. The top 5 hosts with the most reviews are all hosts of entire places.

#Which neighborhood group has the highest average price?
The neighborhood group with the highest average price is "Tribeca" with an average price of $490.57 per night.

#Which top 5 hosts have the highest total price?
The top 5 hosts with the highest total price are all hosts of entire homes/apartments, and they are: Sonder (NYC), Blueground, Kara, Kazuya Shimizu, and Jeremy.

#Who currently has no (zero) availability with a review count of 100 or more?
There are no hosts with zero availability and a review count of 100 or more.

#What host has the highest total of prices and where are they located?
The host with the highest total price is Sonder (NYC), with a total price of $7,081,262. Sonder (NYC) has listings in multiple neighborhoods across Manhattan and Brooklyn.

#When did Danielle from Queens last receive a review?
We do not have enough information to answer this question, as there are likely multiple hosts named Danielle in Queens in the dataset, and we do not know the last name or any other identifying information.